$color-primary: rgb(21, 253, 0);
$color-secondary: rgb(255, 0, 0);
$color-grey: #999;
$color-grey-dark: #333;
$color-white: #eef;
$color-black: #000;





html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 2rem;
}
body {
    
}
.column {
   width: 50%;
   &--1{
       margin-right: -20%;
       z-index: 2;
   }
   &--2{
       background-color: #bbb;
       width: 70%;
   }
}

.section{
    padding: 15rem 0;
    display: flex;
    width: 100%;
}

.veryfication {
    background-image: linear-gradient(105deg, 
                                    ($color-grey-dark) 0%,
                                    ($color-grey-dark) 80%,
                                    transparent 80%);
    background-size: 100%;
    border-radius: 3px;



    &__form {
        width: 100%;
        padding: 6rem;


    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 60%;
        display: block;
        transition: all .3s;


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary;
        }

        &::-webkit-input-placeholder {
            color: $color-grey;
        }
    }


    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__radio-group {
        width: 32%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__notification {
        z-index: 200;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
    }
}
.btn {
    padding: 1rem;
    background: $color-white;
    border: .1rem solid $color-black;
    transition: all .2s;
    &:hover {
        transform: translateY(-.3rem) scale(1.03);
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        cursor: pointer;
    }
}
.alert {
    margin-left: 30vw;
    color: $color-secondary;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 60%;
        display: block;
}

.invalid {
    border-bottom: 3px solid $color-secondary;
}

.valid {
    border-bottom: 3px solid $color-primary;
}